* {
    font-family: 'Gruppo', sans-serif;
    font-weight: bold;
}

p {
    font-size: 1rem;
}

button {
    cursor: pointer;
}

.btn-next::after {
    content: '➤';
    margin-left: 10px;
}

.container {
}

.section-content {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}